<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <button type="submit">Login</button>
    <br><br>
    <a href="http://localhost:8080/register">Register</a>

    <h1>DEBUG</h1>
    <label for="device">Device:</label><br>
    <select id="device" name="device">
      <option value="computer" {% if default_device == "computer" %}selected{% endif %}>Computer</option>
      <option value="phone" {% if default_device == "phone" %}selected{% endif %}>Phone</option>
      <option value="tablet" {% if default_device == "tablet" %}selected{% endif %}>Tablet</option>
    </select><br><br>
    <label for="location">Location:</label><br>
    <select id="location" name="location">
      <option value="Portugal" {% if default_location == "Portugal" %}selected{% endif %}>Portugal</option>
      <option value="Spain" {% if default_location == "Spain" %}selected{% endif %}>Spain</option>
      <option value="France" {% if default_location == "France" %}selected{% endif %}>France</option>
    </select><br><br>
    <label for="ip">IP:</label><br>
    <input type="text" id="ip" name="ip" value="{{ default_ip }}"><br><br>
    
  </form>
</body>
</html>
